name: Deploy static HTML site to Azure Function App

on:
  push:
    branches:
      - main
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to Azure Function App
        uses: azure/webapps-deploy@v3
        with:
          app-name: webbasedmyfuncconsumption123-g2dcdmgsezbpgpeg
          slot-name: production
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE }}
          package: .

